@tailwind base;
@tailwind components;
@tailwind utilities;

/* DEFAULT = "bg-slate-300 dark:bg-slate-800",
ERROR = "bg-red-400 dark:bg-red-700",
WARN = "bg-yellow-400 dark:bg-yellow-700",
SUCCESS = "bg-green-400 dark:bg-green-700" */

:root {
  --toastify-color-warning: theme('colors.yellow.400');
  --toastify-color-error: theme('colors.red.400');
  --toastify-color-success: theme('colors.green.400');
  --toastify-text-color-warning: theme('colors.black');
  --toastify-text-color-error: theme('colors.black');
  --toastify-text-color-success: theme('colors.black');
}
:root[class=dark] {
  --toastify-color-warning: theme('colors.yellow.700');
  --toastify-color-error: theme('colors.red.700');
  --toastify-color-success: theme('colors.green.700');
  --toastify-text-color-warning: theme('colors.white');
  --toastify-text-color-error: theme('colors.white');
  --toastify-text-color-success: theme('colors.white');
}

html {
  @apply h-full;
}

body {
  @apply h-full;
  @apply bg-gray-100;
  @apply dark:text-white dark:bg-gray-900;
}

#root {
  @apply h-full;
}

.button-base {
  @apply flex justify-center items-center;
  @apply text-xl rounded-md font-bold;
  @apply border-2 border-transparent;
  @apply hover:shadow-md;
  @apply hover:border-slate-500 dark:hover:border-slate-100;
  @apply disabled:opacity-30 hover:disabled:border-slate-400;
  @apply active:scale-95 active:shadow active:border-2 active:border-slate-300;
  @apply dark:active:border-slate-500;
  @apply transition;
  @apply select-none;
}

.button {
  @apply button-base;
  @apply m-[2px] px-1;
  @apply md:px-4;
}

.button-outline {
  @apply button;
  @apply py-1;
  @apply border-slate-300 dark:border-slate-500;
}

.button-positive {
  @apply button;
  @apply bg-green-400 dark:bg-green-700;
  @apply md:px-4;
}

.button-negative {
  @apply button;
  @apply bg-red-400 dark:bg-red-700;
  @apply md:px-4;
}

.keyboard-action {
  @apply button;
  @apply md:px-4;
}

.letter-option {
  @apply bg-slate-200;
  @apply hover:bg-slate-100;
  @apply dark:bg-slate-700 dark:hover:bg-slate-600;
  @apply p-0;
  @apply w-8 h-12;
  @apply md:w-12 md:h-12;
}

.qwerty-option {
  @apply letter-option;
}

.guess-box {
  @apply border-2 border-slate-300 dark:border-slate-500;
  @apply text-2xl md:text-4xl;
  @apply w-14 h-14;
  @apply md:w-16 md:h-16;
}

.cursor {
  @apply guess-box;
  @apply animate-pulse;
}

.flex-break {
  @apply basis-full h-0;
}

.check-group {
  @apply flex flex-row rounded items-start cursor-pointer mb-1;
}

.check-radio {
  @apply w-4 h-4 rounded-full mt-[3px] mr-2 p-2 border-[2px];
  @apply transition;
}

.check-label {
  @apply capitalize;
  @apply flex flex-col;
}

.check-label-name {
  @apply capitalize;
}

.check-label-description {
  @apply normal-case;
  @apply text-sm font-light;
}

.no-match {
  @apply bg-slate-300 dark:bg-slate-800;
}

.contain-match {
  @apply bg-yellow-400 dark:bg-yellow-700;
}

.position-match {
  @apply bg-green-500 dark:bg-green-700;
}

.grid-row {
  @apply grid grid-cols-12 gap-4 auto-cols-min;
  @apply pb-1 mb-1;
  @apply border-b-2 border-slate-200 dark:border-slate-500;
  @apply last:border-0;
}

.grid-label {
  @apply col-span-5 font-bold text-right;
}

.grid-field {
  @apply col-span-7 font-semibold;
}


